@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@font-face {
  font-family: "Geoma-Light-demo";
  src: url("/fonts/Geoma-Light-demo.woff") format("woff"), url("/fonts/Geoma-Light-demo.woff2") format("woff2"), url("/fonts/Geoma-Light-demo.svg#Geoma-Light-demo") format("svg"), url("/fonts/Geoma-Light-demo.eot"), url("/fonts/Geoma-Light-demo.eot?#iefix") format("embedded-opentype"), url("/fonts/Geoma-Light-demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #a9e4f1;
  margin: 0%;
  z-index: 999;
}

#background-picture {
  background-image: url("/images/landingPage.svg");
  width: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#small-logo {
  z-index: 999;
  height: 100px;
  width: auto;
  margin: 2%;
  margin-top: 1%;
  margin-left: 1.5%;
}

header {
  position: relative;
  margin-left: 15%;
  text-align: center;
  display: inline;
  top: -3.2em;
  z-index: 999;
}
header h1 {
  letter-spacing: 5px;
  font-size: 30px;
  margin-bottom: 5%;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #ffae00;
  padding: 1%;
  z-index: 2;
}

main {
  margin-top: 18%;
  background-color: #eec374;
  position: relative;
  top: -9.15em;
  height: auto;
  width: 100%;
  z-index: 2;
}
main nav {
  display: flex;
  position: sticky;
  z-index: 999;
  top: 0px;
  background-color: white;
  width: auto;
  height: 35px;
  justify-content: space-evenly;
}
main nav a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 1%;
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
}
main nav a:hover {
  font-size: 20px;
  color: orange;
}
main #narrative {
  border: 0px;
  font-size: 18px;
}
main #container {
  text-align: center;
}
main #logo-game {
  position: relative;
  height: 150px;
  width: auto;
  border-radius: 10%;
  border: 1px solid white;
}
main #game-container {
  text-align: center;
}
main #game-container #play-game, main #game-container #hide-game {
  border: 1px solid white;
  border-radius: 5em;
  width: 200px;
  display: inline;
  text-align: center;
  margin-bottom: 1em;
}
main #game-container #play-game:hover, main #game-container #hide-game:hover {
  cursor: pointer;
  background-color: #8fd4e4;
}
main #game-container #demo-game {
  display: none;
  margin: 0 auto;
}
main #game-container #comment-section {
  display: none;
  margin: 0 auto;
}
main #info {
  border: 0px;
  font-size: 18px;
}
main p {
  text-align: center;
}
main h1, main h2, main h3, main h4 {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}
main #big-logo {
  background: white;
  font-family: "Geoma-Light-demo";
  font-weight: lighter;
  color: black;
  font-size: 8em;
  text-align: center;
  min-width: 320px;
  max-width: 450px;
  margin: 5px;
  margin-bottom: 25px;
}
main #big-logo #icon {
  height: 100px;
  width: auto;
}
main #big-logo :hover {
  cursor: pointer;
  animation: jump 1.2s infinite;
}
@keyframes jump {
  0% {
    transform: translate(-5%, -5%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(-5%, -10%) scale(1, 1);
  }
  100% {
    transform: translate(-5%, -5%) scale(1.25, 0.75);
  }
}
main #timeline-title {
  text-align: center;
}
main #timeline-section {
  height: 5px;
  background: black;
  width: 100%;
  position: relative;
}
main .timeline {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 30px 0 10px 0;
  position: relative;
}
main .timeline :hover {
  cursor: pointer;
}
main .modal-open {
  display: inline-block;
  vertical-align: top;
  background: white;
  color: black;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  position: relative;
  border-top: 2px solid #06182E;
  border-radius: 8px;
  min-width: 200px;
  height: 120px;
}
main .modal-open a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
main .modal-open:after {
  content: "";
  display: block;
  background: #eee;
  width: 7px;
  height: 7px;
  border-radius: 6px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -6px;
}
main .modal-open:before {
  content: "";
  display: block;
  background: black;
  width: 2px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -2px;
}
main .update {
  width: 450px;
  height: auto;
  vertical-align: middle;
}
main #mc_embed_signup {
  text-align: center;
  clear: left;
  font: 16px Helvetica, Arial, sans-serif;
  width: 95%;
  margin: 0 auto;
}
main #mc_embed_signup #email {
  border: none;
  text-align: center;
  font-size: 16px;
  display: inline;
}
main #mc_embed_signup .button {
  background-color: white;
  color: black;
}
main #mc_embed_signup .button:hover {
  color: white;
}
main #separator-div {
  position: absolute;
  left: -5000px;
}
main #blog-section {
  text-align: center;
}
main .fa-itch-io {
  font-size: 150px;
  text-decoration: none;
  color: black;
}
main .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}
main .modal .modal-details {
  background-color: #ffffff;
  margin: 8%;
  padding: 20px;
  border: 1px solid black;
  width: auto;
  vertical-align: center;
}
main .modal .modal-details article img {
  margin: 2%;
  width: 100%;
  max-width: 70%;
}
main .modal .modal-details article ul {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  text-align: center;
  list-style-type: none;
}
main .modal .close {
  color: #b0b0b0;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
main .modal .close:hover, main .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
main .level {
  width: 500px;
  height: auto;
  text-align: center;
}
main #kevin {
  width: 400px;
  height: auto;
}
main #day-night {
  width: 600px;
  height: auto;
  margin-left: 30%;
}
main #img1, main #img2, main #img3, main #img4, main #img5 {
  padding: 1%;
}
main #img4, main #img5 {
  height: 300px;
  width: auto;
}
main figcaption {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
}

footer {
  position: relative;
  margin-top: 2%;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .fa, footer .fab {
  padding: 10px 10px;
  white-space: nowrap;
  font-size: 30px;
  text-decoration: none;
  text-indent: 30px;
}
footer .fa-twitter, footer .fa-envelope, footer .fa-instagram, footer .fa-itch-io {
  color: white;
}

@media screen and (min-width: 581px) {
  #background-picture {
    height: 810px;
    width: auto;
  }

  header h1 {
    letter-spacing: 10px;
    font-size: 50px;
    margin-bottom: 95px;
  }

  main {
    width: 60%;
    margin: 0 auto;
  }
  main iframe {
    height: 600px;
    width: auto;
  }
  main #info, main #narrative {
    font-size: 22px;
  }
  main #logo-game {
    width: 400px;
    height: auto;
  }
  main p {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  main #big-logo {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
