@import 'mixins';
body{
    background-color: rgb(192, 219, 255);
}
img{
    position: sticky;
    z-index: 999;
    top: 0;
    height: 100px;
    width: 60px;
}
header{
    position: relative;
    margin-left: 40%;
    top: 34em;
    h1{
        letter-spacing: 10px;
        font-size: 50px;
        margin-bottom: 50px;
        color: white;
    }
}
main{
    background-color: rgb(243, 189, 214);
    position: relative;
    top: 35em;
    height: auto;
    width: 60%;
    margin-left: 25%;
    padding: 10px;
    nav{
        position: sticky;
        z-index: 999;
        top: 0;
        background-color: white;
        border: 2px solid black;
        width: auto;
        height: 50px;
        a{
            text-decoration: none;
            font-size: 20px;        
        }
    }
    video{
        margin: 10px;
        margin-left: 10%;
        height: 250px;
        max-width: 400px;
        margin-top: 70px;
        border: 2px solid black;
    }
    p{
        border: 2px solid black;
        margin-left: 20%;
        padding: 10px;
        width: 55%;
    }
    h1, h4{
        text-align: center;
    }
}
footer{
    position: fixed;
    top: 90%;
    z-index: 1000;
    @include footer;
}

@media screen and (max-width:370px) {
    img{
        position: relative;
    }
    
    header {
        margin-left: 1%;
        top: 25em;
    }

    main {
        width: 100%;
        margin-left: 0%;
        padding: 0px;

        nav {
            display: none;
        }

        video {
            margin-left: 0%;
            margin-top: 20px;
            height: auto;
            width: 335px;
        }
    }
}