@mixin footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

.fa, .fab {
    padding: 10px 10px;
    white-space: nowrap;
    font-size: 30px;
    text-decoration: none;
    text-indent: 30px;
}

  .fa-twitter, .fa-envelope, .fa-instagram, .fa-itch-io {
    color: rgb(255, 255, 255);
  }
}

@mixin bubble {
  // background-image: radial-gradient(circle, #5c0067 20%, #00d4ff 100%);
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  position: absolute;
  border: #00d4ff;
  border-radius: 50%;
  opacity: 70%;
  margin: 1%;
}
@mixin highlight{
  height: 900px;
  width: 500px;
  position: relative;
  background-color: white;
  background-color: rgb(255, 255, 255);
  // width: 50px;
  // height: 50px;
  // border-radius: 50%;
  // border: 4px solid #222;
  // box-shadow: inset 0px 16px #999, inset 0px 16px 1px 1px #999;
}